/* box 1 contyaining the sign up, sign in, upgrade to mail plus  */
.mainhead {
    background-color: rgb(58, 12, 132);
    display: flex;
    justify-content: space-between;
    left: 0px;
    top:0px;
    margin-right: 20px;
    width: 100%;
    position: fixed;
}
/* yahoo mail logo */
.mainhead img{
    width: 200px;
}
/* nav content box arrangement */
.nav-content{
    
    display: flex;
    margin-right: 2px;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;  
}
      /* nav content link decoration */
.nav-content a{
    text-decoration: none;
    color: white;
    font-size: px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
    /* the botton containing sign-up */
.butt1{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(58, 12, 132) ;
    color: white;
    border: 1px solid white;
}
.butt1:hover{
    background-color: rgb(29, 5, 29);
    color: rgb(135, 24, 214);
    cursor: pointer;
}
       /* section 2 */
       /* The box hosting the image and the text */
.contentbody{
    
    margin: 20px;
    padding: 1px;
    margin-bottom: 50px;
    padding-bottom: 60px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(125, 46, 255);
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
       
.contentbody img{
    width: 800px;
    height: 500px;
    align-items: center;
    padding-top: 60px;
}
h1{
    font-size: 70px;
    color: white;
    font-weight: 100px;
}
    /* connect your Gmail */
.butt2{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color:white;
    color: black;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.butt2:hover{
    background-color: rgb(125, 46, 255);
    color: white;
    cursor: pointer;
}
           /* Create a new yahoo Email botton */
.butt3{
     width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color:rgb(125, 46, 255) ;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}
.butt3:hover{
    background-color: white;
    color: rgb(170, 136, 238);
    cursor: pointer;
}

/* bottom body */
/* The box at the bottom containig the about, support links etc. */
.bottom-body{
    display: flex;
    
    background-color: rgb(58, 12, 132) ;
    
    width:100%;
    height: 30px;
    border-block-end: 20px;
    padding-top: 11px;
    padding-bottom: 5px;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.nav-content2{
    align-items: center;
    display: flex;
    margin-left: 800px;
    
}
.nav-content2 a {

text-decoration: none;
color: white;
margin-left: 20px;
font-size: small;
padding-left: 10px;
font-weight: 300px;
}